{% extends 'base.html.twig' %}

    {% block body %}
        <h1>Customers</h1>
        <a href="{{ path('customers_index') }}">&laquo; back</a><Br /><br />
    Customer: <b>{{ customer.name }}</b><br /><br />

        Contacts:
        <ul>
            {% for contact in customer.contacts %}
                <li>{{ contact.firstName }} {{ contact.lastName }} ({{ contact.email }})</li>
            {% endfor %}
        </ul>
        <br /><br />
        <form action="{{ path('customers_update',{id:customer.id}) }}" method="POST">
            <input type="submit" value="Change all his orders to 'complete'" class="btn btn-warning" onclick="confirm('Are you sure?')" />
        </form>
    Orders: <br />
    <table class="table table-border"><tr><th>id</th><th>Date</th><th>Brand</th><th>Status</th><th>Value</th></tr>
        {% set sum=0 %}
        {% for order in customer.orders %}
            <tr class="{% if order.status=='completed' %}bg-success{% endif %}">
                <td>{{ order.id }}</td>
                <td>{{ order.date|date("m/d/Y") }}</td>
                <td>{{ order.brand.name }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.value|number_format(2)  }}</td>
            </tr>
            {% set sum=sum+order.value %}
        {% endfor %}
        <tr><th colspan="4"></th><th>{{ sum|number_format(2) }}</th></tr>
    </table>

{% endblock %}
